/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    background-image: url(../images/green-background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #326771;
    height: auto;
    width: 100%;
    font-family: "Roboto", serif, sans-serif, monospace;
    color: rgb(231, 223, 223);
}

#game-header {
    margin: auto 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: auto;
    font-family: "Roboto", serif, sans-serif, monospace;
    color: rgb(231, 223, 223);
}

.game-logo {
    height: 170px;
    padding: 10px;
    width: auto;
    margin: auto 0;
}

.navbar {
    background-color: #004f2d;
    padding: 0;
}

.navbar-nav {
    width: 100%;
}

.hvr-shutter-out-horizontal {
    background-color: #004f2d;
}

.hvr-shutter-out-horizontal:before {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(231, 223, 223);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/*Bootstrap box-sizing overridden (see nav-item a). 
This removes the border/gap left and right
between the a links/li item in the navbar*/

.nav-item a:before,
.nav-item a:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Bootstrap hover color overridden using inherit. 
Color from nav-item a is used.*/

.nav-item a:hover {
    color: inherit;
}

.nav-item a i {
    font-size: 18px;
}

/* Overrides the overlap of the shutter-out-horizontal
by removing Bootstrap padding-left*/

.navbar-expand-sm .navbar-nav .nav-link {
    padding-left: 0px;
}

.active {
    background-color: hsl(180, 3%, 45%, 0.4);
}

/* Bootstrap active color overridden using class found in dev tools*/

.navbar-nav .nav-link.active {
    color: rgb(231, 223, 223);
}

#welcome-section {
    width: 75%;
    height: 100vh;
    text-align: center;
    margin: auto;
    background-color: hsl(113, 34%, 40%, 0.9);
}

.welcome-link {
    background-color: #004f2d;
    border-radius: 5px;
    padding: 35px;
    margin: auto;
    width: 60%;
    height: auto;
    font-size: 60px;
}

.welcome-link h1 {
    color: rgb(231, 223, 223);
}

.welcome-link a {
    text-decoration: none;
}

#game-container {
    width: 75%;
    min-height: 100vh;
    z-index: 1;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: hsl(113, 34%, 40%, 0.9);
}

#how-to-section {
    width: 75%;
    height: 100vh;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: hsl(113, 34%, 40%, 0.9);
}

.img-div {
    margin: auto;
}

.para-div {
    margin: auto;
    padding: 10%;
    font-size: 25px;
}

#readout-display {
    float: left;
    margin: auto;
    padding-top: 40px;
    text-align: center;
    background-color: #4b8943;
    width: 30%;
}

#readout-display>div {
    padding: 20px;
}

#reset-game-btn {
    margin: auto;
    padding: 10px;
    width: 75%;
    text-align: center;
}

#game-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.card {
    position: relative;
    width: calc(20% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-box-shadow: 1px 1px 1px;
    box-shadow: 1px 1px 1px;
}

.card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.card-front,
.card-rear {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 25px 10px 25px 10px;
}

.modal-header {
    background-color: #004f2d;
}

.modal-header,
h5 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-body {
    text-align: center;
    background-color: #4b8943;
}

.modal-footer {
    background-color: #091e05;
}

.modal-footer,
button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#game-footer {
    background-color: #091e05;
    text-align: center;
    height: 60px;
    width: 100%;
}

#game-footer p {
    padding: 15px;
}

@media only screen and (max-width: 600px) {

    #welcome-section,
    #game-container,
    #how-to-section {
        width: 100%;
    }

    .game-img {
        display: none;
    }

    .game-logo {
        display: none;
    }

    #game-grid {
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 992px) {
    #readout-display {
        width: 75%;
    }
}