#header {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

#readout-display {
    margin: auto;
    width: 75%;
    text-align: center;
}

#readout-display span {
    margin-top: 50px;
}

#game-grid {
    margin: auto;
    width: 75%;
    height: 100%;
    height: 200px;
    background-color: lightblue;
}

#start-game-btn {
    margin: auto;
    width: 75%;
    text-align: center;
}

#difficulty {
    margin: auto;
    width: 75%;
    text-align: center;
}

